.about-view {
    padding: 0 100px;
    margin: 100px 0;
}

.about-inner-view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image-view {
    width: 40%;
}

.about-desc-view {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about-desc {
    max-width: 500px;
    font-size: 18px;
    line-height: 40px;
}

.about-image {
    width: 100%;
    height: 400px;
}

.about-head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}